@import '~antd/dist/antd.css';

::-webkit-scrollbar{width: 10px;height: 10px;background: #013b8e;}

/* 滚动槽 */

::-webkit-scrollbar-track {

-webkit-box-shadow: inset 0 0 6px rgba(33,68,124,1);

border-radius: 10px;

background: #021b49;

}

/* 滚动条滑块 */

::-webkit-scrollbar-thumb{

border-radius: 10px;

background: #013b8e;

-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);

}

::-webkit-scrollbar-thumb:window-inactive {

background: #013b8e;

}

/* 边角 即两个滚动条的交汇处 */

::-webkit-scrollbar-corner{

background: #021b49;

border-radius: 10px;

}